body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    margin: 0;
    overflow: hidden;
}
.swiper {
    width: 80%;
    max-width: 600px;
}
.swiper-slide img {
    width: 100%;
    border-radius: 10px;
}

/* Styles des boutons de navigation */
.swiper-button-next, .swiper-button-prev {
    color: #fff;S
    padding: 10px;
    border-radius: 50%;
}

.swiper-button-next:hover, .swiper-button-prev:hover {
    background-color: rgba(0, 0, 0, 0.7);
}
